<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure & Relief & Self Care</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_fornt_page.css') }}">
</head>
<body>
    <div class="container">
        <!-- Secure & Relief Section -->
        <section id="secure-relief">
            <div class="features">
                <div class="feature-item">
                    <!-- <img src="your-safety.gif" alt="Loading animation"> -->
                    <a href="{{ url_for('your_safty_y') }}">
                        <button class="page-btn">
                            <img src="static/photo_video/your-safety.gif" alt="Loading animation">
                            <h2>Your Safety</h2>
                        </button>
                    </a>
                    
                    <p>desc</p>
                </div>
                <div class="feature-item add">
                <a href="{{ url_for('Low_your_period_pain_n') }}">
                    <img src="static/photo_video/pain-relief.gif" alt="Loading animation">
                    <h2>Low your period pain</h2>
                    </a>
                    <p>desc</p>
                </div>
                <div class="feature-item">
                    <a href="{{ url_for('cycle_traker_r') }}">
                        <button class="page-btn">
                            <img src="static/photo_video/cycle-tracker.gif" alt="Loading animation">
                            <h2>Cycle Tracker</h2>
                           </a> 
                    <p>desc</p>
                </div>
            </div>
        </section>

        <!-- Self Care (Fitness & Mental Wellness) Section -->
        <section id="self-care-1">
            <div class="features">
                <div class="feature-item">
                <a href="{{ url_for('fitness_diet_plane_e') }}">
                    <img src="static/photo_video/fitness.gif" alt="Loading animation">
                    <h2>Fitness Plan</h2>
                    <p>desc</p>
                    </a>
                </div>
                <div class="feature-item add">
                <a href="">
                    <img src="static/photo_video/m-well.gif" alt="Loading animation">
                    <h2>Mental Wellness</h2>
                    </a>
                    <p>desc</p>
                </div>
                <div class="feature-item">
                <a href="">
                    <img src="static/photo_video/reminder.gif" alt="Loading animation">
                    <h2>Self Care Reminder</h2>
                    </a>
                    <p>desc</p>
                </div>
            </div>
        </section>

        <!-- Self Care (Fashion, Hair, and Skin Care) Section -->
        <section id="self-care-2">
            <div class="features">
                <div class="feature-item">
                <a href="{{ url_for('fasion_tips_s') }}">
                    <img src="static/photo_video/fashion.gif" alt="Loading animation">
                    <h2>Fashion Tips</h2>
                    <a>
                    <p>desc</p>
                </div>
                <div class="feature-item">
                <a href="{{ url_for('hair_care_e') }}">
                    <img src="static/photo_video/hair-care.gif" alt="Loading animation">
                    <h2>Hair Care</h2>
                    <a>
                    <p>desc</p>
                </div>
                <div class="feature-item">
                <a href="{{ url_for('skin_care_tips_s') }}">
                    <img src="static/photo_video/self-care.gif" alt="Loading animation">
                    <h2>Skin Care</h2>
                    </a>
                    <p>desc</p>
                </div>
            </div>
        </section>

        <!-- Self Care (Pregnancy Tracker, Budget Manager, Password Locker) Section -->
        <section id="self-care-3">
            <div class="features">
                <div class="feature-item">
                <a href="{{ url_for('pregnency_tracker_r') }}">
                    <img src="static/photo_video/p-tracker.gif" alt="Loading animation">
                    <h2>Pregnancy Tracker</h2>
                    </a>
                    <p>desc</p>
                </div>
                <div class="feature-item">
                <a href="">
                    <img src="static/photo_video/manage.gif" alt="Budget-Manager Icon">
                    <h2>Budget Manager</h2>
                    </a>
                    <p>desc</p>
                </div>
                <div class="feature-item">
                <a href="">
                    <img src="static/photo_video/locker.gif" alt="Password Locker Icon">
                    <h2>Password Locker</h2>
                    </a>
                    <p>desc</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
